div.PrivatePickersFadeTransitionGroup-root {
    font-size: 14px;
    padding-left: 10px;
}

div.css-mvmu1r {
    justify-content: flex-start;
}

div.css-1n2mv2k {
    justify-content: flex-start;
}

div.css-1dozdou {
    padding-left: 20px;
}

div.css-epd502 {
    margin: 0px;
    width: auto;
}

div.css-k008qs {
    padding-right: 11px;
}

div.css-18puooo {
    width: 12px;
}

div.css-1bx5ylf {
    padding-left: 0px;
}